.gp-titlebar {
  display: none !important;
}
.gp-footer {
  display: none !important;
}
.main-header {
  background: #fff !important;
  position: fixed !important;
  top: 44px !important;
  height: 44px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border-bottom: 1px solid #d5d5d5 !important;
  padding: 8px !important;
}
.cllist {
  position: fixed !important;
  pointer-events: none !important;
  height: 100% !important;
  width: 100% !important;
  padding-top:88px !important;
  top: 0 !important;
  box-sizing: border-box !important;
  display: none !important;
}
.cllist.enabled {
  display: block !important;
}
.cllist>div:first-child {
  pointer-events: all !important;
  height: 100% !important;
  width: 100% !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  background: transparent !important;
}
select {
  -webkit-appearance: none !important;
  -webkit-padding-end: 13px !important;
  -webkit-padding-start: 6px !important;
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-25.png") repeat-y right -50px, -webkit-linear-gradient(top,#F5F5F5,#F1F1F1) !important;
  -webkit-user-select: none !important;
  border: 1px solid #CCC !important;
  border-radius: 2px !important;
  height:27px  !important;
  font:700 11px arial,sans-serif !important;
  color: #333  !important;
  display: inline-block !important;
}
select:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}
select:focus {
  outline: 0 !important;
}
select:active,select.focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-25.png") repeat-y right -50px, -webkit-linear-gradient(top,#EEE,#E0E0E0) !important;
  outline: 0 !important;
}
/* select box containers */
.lang_list {
  width: auto !important;
  height: 27px !important;
  float: left !important;
}
/* swap container button */
.swap-wrap {
  margin: 0 !important;
  left: 0 !important;
  position: relative !important;
  float: left !important;
}
/* swap  button */
.swap-wrap>div, button,.page:last-child > div:first-child > div:first-child > div:first-child,.page:last-child>div:last-child>div:first-child>.inline>div, .page:last-child>div:first-child>div:first-child>div:nth-child(2), .page:last-child>div:first-child>div:first-child>div:last-child  {
  background: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1) !important;
  -webkit-user-select: none !important;
  border: 1px solid #CCC !important;
  border-radius: 2px !important;
  height: 27px !important;
  font: 700 11px arial,sans-serif !important;
  color: #333 !important;
  display: inline-block !important;
  position: relative !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  left: auto !important;
  outline: none !important;
}
.swap-wrap>div:hover, button:hover,.page:last-child > div:first-child > div:first-child > div:first-child:hover,.page:last-child>div:last-child>div:first-child>.inline>div:hover, .page:last-child>div:first-child>div:first-child>div:nth-child(2):hover, .page:last-child>div:first-child>div:first-child>div:last-child:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
}
.swap-wrap>div:active, button:active,.page:last-child > div:first-child > div:first-child > div:first-child:active,.page:last-child>div:last-child>div:first-child>.inline>div:active, .page:last-child>div:first-child>div:first-child>div:nth-child(2):active, .page:last-child>div:first-child>div:first-child>div:last-child:active,.page:last-child > div:first-child > div:first-child > div:nth-child(2).CSS_WUI_ACTIVE , .page:last-child > div:first-child > div:first-child > div:last-child.CSS_WUI_ACTIVE, #starredButton.enabled{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
  background: -webkit-linear-gradient(top,#EEE,#E0E0E0) !important;
}
.page:last-child>div:first-child>div:first-child>div:nth-child(2) {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.page:last-child>div:first-child>div:first-child>div:last-child {
  margin-left:-1px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.swap-wrap>div {
  padding-top: 0px !Important;
  width: 30px !Important;
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-21.png") no-repeat -19px -19px, -webkit-linear-gradient(top,#F5F5F5,#F1F1F1) !important;
}
.swap-wrap>div:active {
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-21.png") no-repeat -19px -19px, -webkit-linear-gradient(top,#EEE,#E0E0E0) !important;
}
.page:last-child>div:last-child>div:first-child>.inline>div {
  margin: 8px !important;
  padding-top: 5px !important
}
/* clear button */
.clear-wrap {
  display: none !important;
}
/* input box */
#input-wrap {
  float:left !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  width:100% !important;
  border-style:none !important;
  border-bottom:1px solid #e5e5e5 !important;
  background-color: whiteSmoke !important;
  height: 44px !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  padding: 8px !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
}
#input-wrap textarea,#input-wrap input {
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-25.png") repeat-y right -25px white !important;
  
  border: 1px solid #cdcdcd !important;
  color: #222 !important;
  display: inline-block !important;
  border-radius: 1px !important;
  height: 27px !important;
  line-height: 25px !important;
  outline: none !important;
  padding-left: 5px !important;
  vertical-align: top !important;
  width: 100% !important;
  font:13px arial,sans-serif !important;
}
#input-wrap textarea:hover,#input-wrap input:hover {
  border-color: rgba(0,0,0,.3) !important;
  
}
#input-wrap textarea:focus,#input-wrap input:focus {
  border-color: #4285f4 !important;
}
.margin_right, .margin_left {
  margin: 0 !important;
}
/* search button */
.go-wrap  {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/translate_button-21.png"), -webkit-linear-gradient(top,#4D90FE,#4787ED) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: auto !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  width: 30px !important;
  position: fixed !important;
  top: 8px !important;
  right: 8px !important;
  border: 1px solid #3079ED !important;
  color: #fff !important;
  -webkit-user-select: none !important;
  height: 27px !important;
  font-size: 0px !important;
  display: inline-block !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  outline: none !important;
}
.go-wrap div {
  outline: none !important;
}
.go-wrap:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/translate_button-21.png"), -webkit-linear-gradient(top,#4D90FE,#357AE8) !important;
  border-color: #2F5BB7 !important;
}
.go-wrap:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}
.go-wrap *, .swap-wrap>div * {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  -webkit-border-image: none !important;
}

.translate_item * {
  pointer-events: none;
}
.main-header > *:last-child {
  margin-right: 0px !Important;
}
.main-header > * {
  margin-right: 8px !important;
}
.lang_list>div, .lang_list select {
  width: 100% !important;
}
.lang_list {
  width: calc(50% - 42px) !important;
}
#phrasebookIcon {
  background: url("chrome-extension://__MSG_@@extension_id__/images/translate_buttons.png") -420px 0 no-repeat;
  height: 21px;
  width: 21px;
  margin-left: auto;
  margin-right: auto;
}
#starredButton {
  float: right;
  width: 30px;
  padding: 0px !important;
}
/* unstarred item icon */
.CSS_IMG_ICON_STAR {
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-21.png") no-repeat -21px -42px !important;
}
/* starred item icon */
.CSS_IMG_ICON_STAR.CSS_WUI_PRESSED, .CSS_IMG_ICON_STAR.CSS_WUI_ACTIVE {
  background: url("chrome-extension://__MSG_@@extension_id__/images/sprite-21.png") no-repeat -42px -42px !important;
}
.section-header {
  background-color: rgb(251, 251, 251) !important;
  border-bottom: 1px solid rgb(229, 229, 229) !important;
}

.page:last-child > div:first-child > div:first-child > div:nth-child(2), .page:last-child > div:first-child > div:first-child > div:last-child {
  top: -10px !important;
  left: 3px !important;
}
::-webkit-scrollbar {
  height: 16px;
  width: 12px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-color: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  background-clip: padding-box;
  background-color: rgba(0,0,0,.2);
  min-height: 28px;
  padding-top: 100px;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
  background-color: rgba(0,0,0,.4);
}
::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
  background-color: rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb:vertical {
  border-width: 0;
  border-left-width: 0px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
  border-top-width: 5px;
}
::-webkit-scrollbar-track:vertical {
  border-left-width: 1px;
  border-right-width: 1px;
}
::-webkit-scrollbar-track:horizontal {
  border-bottom: 1px;
  border-top: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  border-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
  border-bottom: 1px;
  border-top: 6px;
}
::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.05);
}
::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
  background-color: rgba(0,0,0,.05);
}

[onclick="_e(event, 'tts+6', 's')"] {
  position: fixed;
  top: 10px;
  right: 40px;
}
.text-wrap:not(:first-child) {
  background-color: #FFF; 
  margin: 12px;
  margin-bottom: 0px; 
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px; 
  font-family: roboto, arial, sans-serif; 
  width: 395px; 
  width: -webkit-calc(100% - 24px); 
  width: calc(100% - 24px); 
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  padding-top: 28px;
}
.text-wrap:last-of-type {
  margin-bottom: 12px;
}
.section-header {
  text-decoration: none; 
  display: block; 
  width: 100%;
  color: #333 !important;
  font-size: 18px!important; 
  font-weight: normal !important;
  box-sizing: border-box;
  overflow: hidden; 
  background-color: transparent !important;
  margin-top: -31px !important;
  z-index: 1;
  position: relative;
  top: 44px;
  border: none !important;
  padding-left: 24px !important;
}
.text-wrap:first-of-type {
  float: left;
}
.starbutton {
  z-index: 2;
  position: relative;
  margin-top: 8px;
  margin-right: 8px;
}
.CSS_IMG_TTS_BUTTON {
  width: 16px !important;
  height: 16px !important;
  background-position: center !important;
  -webkit-filter: grayscale() brightness(0.5) !important;
}
.term {
  color: #8D8D8D !important; 
  font-size: 13px !important;  
  display: inline-block !important;
  width: 50% !important;
}
.pos {
  color: #333 !important;
  font-size: 15px !important;
  font-weight: normal !important;
  height: -webkit-fit-content !important;
}
.pos::before {
  content: "" !important;
  float: right !important;
  width: 50% !important;
  display: inline-block !important;
  height: 18px !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}








.page {
  position: fixed !important;
  top: 88px !important;
  left: 0px !important;
  width: 100% !important;
  height: calc(100% - 88px) !important;
  overflow-y: auto !important;
}
.page>.CSS_WUI_TOOLBAR {
  display: none !important;
}
.list-brief:last-of-type {
  display: none !important;
}
.translate_item {
  padding-top: 4px !important;
}
.page.enabled {
  display: block !important;
}
.page:not(.enabled):not(:first-child) {
  display: none !important;
}
.translation {
  font-size: 18px !important;
  color: #444 !important;
}
.item_wrapper {
  border: none !important;
  background-color: #FFF;
  margin: 12px;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px;
  font-family: roboto, arial, sans-serif;
  width: 395px;
  width: -webkit-calc(100% - 24px); width: calc(100% - 24px);
  float: left;
  position: relative;
}
.item_wrapper .inline.starbutton {
  padding-top: 0px !important;
}
.go-wrap {
  position: fixed !important;
}