/* hide empty box at the bottom */
.QPb, .LSc {
	display: none;
	}
.Xeb {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
}
/**
 * enable scrolling
 */
html, body, .P9a, .Xeb {
	height: 100%;
	}
body {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #F5F5F5 !important;
	}
	
.yMMKaf, .kdBn3b.rWEt6e, .AO44ae, .VsujAd, .xIfz5b, .CCryzc, .re, .fc .ev {
width: 100% !important;
}
.Xeb {
box-sizing: border-box;
background-color: transparent !important;
}

/**
 * hide unsupported features
 */

/* hide people picker */
[guidedhelpid="shareboxpeoplepickericon"] {
	display: none !important;
	}
.i-j-h-tb.i-j-h-f {
	margin-right: 0px !important;
	}
/*
.Je {
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px;
	padding: 16px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 16px;
	}
*/


/*
::-webkit-scrollbar {
	height: 16px;
	width: 12px;
	}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
	}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	display: block;
	}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
	}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	border-style: solid;
	border-color: transparent;
	}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background-clip: padding-box;
	background-color: rgba(0,0,0,.2);
	min-height: 28px;
	padding-top: 100px;
	}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.4);
	}
::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
	background-color: rgba(0,0,0,.5);
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 0px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-top-width: 5px;
	}
::-webkit-scrollbar-track:vertical {
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-track:horizontal {
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.05);
	}
::-webkit-scrollbar-track:active {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	background-color: rgba(0,0,0,.05);
	}
*/